@charset "UTF-8";
.product-banner {
  padding: 44px 0 50px;
}
@media (max-width: 1023px) {
  .product-banner {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .product-banner {
    padding: 30px 0;
  }
}
.product-banner__container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1023px) {
  .product-banner__container {
    flex-direction: column;
  }
}
.product-banner__left {
  display: flex;
  gap: 12px;
  flex: 1 1 657px;
}
@media (max-width: 1023px) {
  .product-banner__left {
    flex: 1 1 auto;
    width: 100%;
  }
}
@media (max-width: 424px) {
  .product-banner__left {
    flex-direction: column;
  }
}
.product-banner__main-image {
  height: 556px;
  max-width: 550px;
  width: 100%;
  overflow: hidden;
  border: 1px solid var(--line);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 10px;
}
@media (max-width: 1023px) {
  .product-banner__main-image {
    height: 415px;
    max-width: 450px;
  }
}
.product-banner__images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1023px) {
  .product-banner__images {
    gap: 10px;
  }
}
@media (max-width: 424px) {
  .product-banner__images {
    flex-direction: row;
  }
}
.product-banner__image {
  width: 95px;
  height: 95px;
  border: 1px solid var(--line);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: var(--transition);
  border-radius: 6px;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
@media (hover: hover) {
  .product-banner__image:hover {
    opacity: 0.9;
    border-color: var(--primary-hover);
  }
}
@media (max-width: 1023px) {
  .product-banner__image {
    width: 75px;
    height: 75px;
  }
}
.product-banner__image:active {
  opacity: 0.8;
}
.product-banner__image--active {
  border-color: var(--primary);
}
.product-banner__right {
  flex: 1 2 613px;
  padding-top: 39px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 1439px) {
  .product-banner__right {
    padding-top: 0;
    gap: 40px;
  }
}
@media (max-width: 1023px) {
  .product-banner__right {
    flex: 1 1 auto;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .product-banner__right {
    gap: 30px;
  }
}
.product-banner__title {
  font-family: var(--TildaSans);
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .product-banner__title {
    font-size: 24px;
  }
}
.product-banner__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-banner__text {
  font-family: var(--TildaSans);
}
.product-banner__selectors {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.product-banner__label {
  position: relative;
  background-color: var(--base-bg);
  border-radius: 9px;
  padding: 10px 15px;
  transition: var(--transition);
}
.product-banner__label:has(input:checked) {
  background-color: var(--primary);
}
.product-banner__label:has(input:checked) .product-banner__label-text {
  color: var(--primary-white);
}
@media (hover: hover) {
  .product-banner__label:hover {
    background-color: var(--primary);
  }
  .product-banner__label:hover .product-banner__label-text {
    color: var(--primary-white);
  }
}
.product-banner__label:active {
  background-color: var(--primary-hover);
}
.product-banner__label:active .product-banner__label-text {
  color: var(--primary-white);
}
.product-banner__label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.product-banner__label-text {
  font-family: var(--TildaSans);
  transition: var(--transition);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.product-banner__input {
  margin-top: 10px;
  max-width: 169px;
  border: 1px solid var(--line);
  border-radius: 9px;
  padding: 11px 15px;
  font-family: var(--TildaSans);
}
.product-banner__input::-moz-placeholder {
  color: var(--line);
}
.product-banner__input::placeholder {
  color: var(--line);
}
.product-banner__submit {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
@media ((max-width: 1439px)) {
  .product-banner__submit {
    flex-direction: column;
    align-items: flex-start;
  }
}
.product-banner__price {
  font-size: 32px;
  font-family: var(--TildaSans);
  font-weight: 600;
}
@media (max-width: 767px) {
  .product-banner__price {
    font-size: 24px;
  }
}
.product-banner__button {
  color: var(--primary-white);
  min-height: 56px;
  max-width: 293px;
  background-color: var(--primary);
}

.product-specs {
  padding: 50px 0;
}
@media (max-width: 1023px) {
  .product-specs {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .product-specs {
    padding: 30px 0;
  }
}
.product-specs__container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .product-specs__container {
    flex-direction: column;
    align-items: stretch;
  }
}
.product-specs__left {
  flex: 1 1 377px;
}
@media (max-width: 767px) {
  .product-specs__left {
    flex: 1 1 auto;
  }
}
.product-specs__title {
  color: var(--primary-black);
}
.product-specs__row {
  margin-top: 62px;
  display: flex;
  gap: 40px;
}
@media (max-width: 767px) {
  .product-specs__row {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .product-specs__row {
    margin-top: 30px;
  }
}
.product-specs__row + .product-specs__row {
  margin-top: 15px;
}
.product-specs__column {
  font-family: var(--TildaSans);
}
.product-specs__column:nth-child(1) {
  flex: 0 0 126px;
}
.product-specs__qna {
  flex: 1 5 881px;
  padding: 59px 35px 35px;
  border-radius: 9px;
  background-color: var(--base-bg);
}
@media (max-width: 1439px) {
  .product-specs__qna {
    padding: 40px 30px 30px;
  }
}
@media (max-width: 767px) {
  .product-specs__qna {
    flex: 1 1 auto;
    padding: 30px 20px;
  }
}
.product-specs__qna-title {
  font-size: 42px;
  font-weight: 600;
  font-family: var(--TildaSans);
}
@media (max-width: 1439px) {
  .product-specs__qna-title {
    font-size: 36px;
  }
}
@media (max-width: 1023px) {
  .product-specs__qna-title {
    font-size: 28px;
  }
}
.product-specs__qna-text {
  margin-top: 15px;
  font-family: var(--TildaSans);
}
.product-specs__qna-link {
  margin-top: 60px;
  background-color: var(--primary);
  color: var(--primary-white);
  font-weight: 600;
  min-height: 62px;
  max-width: 280px;
}
@media (max-width: 767px) {
  .product-specs__qna-link {
    margin-top: 30px;
  }
}

.product-description {
  padding: 50px 0;
}
@media (max-width: 1023px) {
  .product-description {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .product-description {
    padding: 30px 0;
  }
}
.product-description__text {
  font-family: var(--TildaSans);
  line-height: 135%;
}

.product-other {
  margin-bottom: -2px;
  background-color: var(--primary-black);
  padding: 72px 53px;
}
@media (max-width: 1023px) {
  .product-other {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .product-other {
    padding: 30px 0;
  }
}
.product-other__container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 50px;
}
@media (max-width: 767px) {
  .product-other__container {
    row-gap: 30px;
  }
}
.product-other__item {
  flex: 1 1 20%;
  max-width: calc(25% - 10px);
}
@media (max-width: 1023px) {
  .product-other__item {
    flex: 1 1 28%;
    max-width: calc(33% - 10px);
  }
}
@media (max-width: 767px) {
  .product-other__item {
    flex: 1 1 40%;
    max-width: calc(50% - 10px);
  }
}
@media (max-width: 424px) {
  .product-other__item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

body:has(.modal--opened) {
  overflow: hidden;
}

.modal {
  position: fixed;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: hsla(0, 0%, 15%, 0.3);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none; /* Блокирует клики по умолчанию */
}
@media (max-width: 767px) {
  .modal {
    align-items: flex-end;
  }
}
.modal--opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all; /* Включает клики при открытии */
}
.modal--opened .modal__close {
  right: 15px;
}
@media (max-width: 767px) {
  .modal--opened .modal__close {
    right: 8px;
  }
}
.modal--opened .modal__content {
  transform: scale(1);
  bottom: 0;
}
.modal__content {
  cursor: default;
  transform: scale(0.8);
  transition: all 0.6s ease-in-out;
  padding: 70px 60px;
  position: relative;
  bottom: -150px;
  margin: 0 15px;
  border-radius: 16px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-black);
  max-width: 815px;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .modal__content {
    margin: 0;
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    height: calc(100vh - 60px);
    transform: scale(1);
    padding: 60px 30px 20px;
    scrollbar-width: 0;
    overflow-y: scroll;
  }
  .modal__content ::-webkit-scrollbar {
    width: 0;
  }
}
.modal__content .iti {
  max-width: 451px;
  width: 100%;
}
@media (max-width: 767px) {
  .modal__content .iti {
    max-width: 600px;
  }
}
.modal__close {
  position: absolute;
  right: 40px;
  top: 29px;
  padding: 10px;
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: background-color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media (max-width: 767px) {
  .modal__close {
    top: 8px;
    right: 8px;
  }
}
@media (hover: hover) {
  .modal__close:hover {
    background-color: rgba(0, 0, 0, 0.1843137255);
  }
}
.modal__title {
  text-transform: uppercase;
  text-align: center;
}
.modal__text {
  text-align: center;
  max-width: 455px;
  margin-top: 10px;
  align-self: center;
  color: var(--primary-white);
}
.modal__close-btn {
  width: 17px;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media (hover: hover) {
  .modal__close-btn:hover {
    opacity: 0.8;
  }
}
.modal__close-btn:active {
  opacity: 0.6;
}
.modal__input {
  padding: 18px 9px;
  margin-top: auto;
  max-width: 300px;
  border-radius: 8px;
  width: 100%;
  color: var(--black);
  border: 1px solid var(--primary);
}
.modal__form {
  margin-top: 30px;
}
.modal__link {
  margin-top: 20px;
  max-width: 300px;
  position: relative;
}