.gallery {
  padding: 70px 0;
}
@media (max-width: 1023px) {
  .gallery {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .gallery {
    padding: 30px 0;
  }
}
.gallery__container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.gallery__item {
  flex: 1 1 20%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  height: 300px;
  max-width: calc(25% - 10px);
}
@media (max-width: 1023px) {
  .gallery__item {
    flex: 1 1 40%;
    max-width: calc(50% - 10px);
  }
}
@media (max-width: 767px) {
  .gallery__item {
    flex: 100%;
    max-width: 100%;
  }
}