.main-banner {
  min-height: 813px;
  padding: 119px 0;
  position: relative;
  overflow: hidden;
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    animation: scaleAnimation 1s ease-in-out;
  }
  height: 100vh;
  @media (max-width: 1023px) {
    min-height: auto;
    height: 600px;
    padding: 70px 0;
  }
  @media (max-width: 767px) {
    height: auto;
    padding: 120px 0 50px;
  }
  &--small-p {
    padding: 60px 0;
    @media (max-width: 1023px) {
      padding: 40px 0;
    }
    @media (max-width: 767px) {
      padding: 120px 0 40px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: hsla(0, 0%, 0%, 0.77);
  }

  &__title {
    text-transform: uppercase;
    font-family: var(--TildaSans);
    line-height: 0.99;
    font-size: 42px;
    font-weight: 700;
    max-width: 700px;
    color: var(--primary-white);
    @media (max-width: 1023px) {
      font-size: 36px;
    }
    @media (max-width: 767px) {
      font-size: 32px;
    }
    @media (max-width: 424px) {
      font-size: 28px;
    }
  }

  &__container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 3;
    height: 100%;
  }

  &__text {
    margin-top: 20px;
    max-width: 588px;
    line-height: 0.99;
    font-family: var(--TildaSans);
    color: var(--primary-white);
  }

  &__buttons {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    gap: 11px;
    @media (max-width: 767px) {
      margin-top: 30px;
    }
    @media (max-width: 424px) {
      flex-direction: column;
    }
  }

  &__consulting-button {
    max-width: 260px;
    min-height: 47px;
    @media (max-width: 424px) {
      max-width: 100%;
    }
  }
  &__production-button {
    max-width: 176px;
    min-height: 47px;
    color: var(--primary-white);
    background-color: var(--primary);
    @media (max-width: 424px) {
      max-width: 100%;
    }
  }
}


@keyframes scaleAnimation {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
  
}

